<!-- Vishwajitsinh Mahida: 301312106-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.css"> <!-- Add the path to your CSS file here -->
    <link rel="shortcut icon" href="/public/Images/info.png" type="image/x-icon">
    <title>About Me</title>
</head>
<body>
    <%- include('partials/header') %>

    <!-- Main content for the About Me Page -->
    <section class="about">
        <h1>About Me</h1>
        <img src="/public/Images/WhatsApp Image 2023-10-07 at 18.28.25_31107812.jpg" style="height: 177px;" alt="My Profile Image">
        <p>I am Vishwajitsinh Mahida, from India, studying game programming at Centennial College in the 3rd semester. I have been interested in games since I was little and have always been keen on making games and more.</p>
        <p>Here's a little more about me...</p>
        <a href="/projects" style="color: aqua;">View My Projects</a>
    </section>

    <div class="about-me">
        <div class="box">
            <p>Hi there! I'm Vishwajitsinh Mahida, and I like to think of myself as an explorer and tinkerer in the world of technology. I have a unique ability for critical thinking, which I believe is the key to finding creative solutions to complex problems. I'm a firm believer in the power of smart work over hard work, and I'm always on the lookout for innovative ways to achieve my goals.</p>
        </div>
        <div class="box">
            <p>One thing I'm immensely grateful for is the opportunity to be a part of this world where endless possibilities exist.</p>
        </div>
        <div class="box">
            <p>My educational background includes a degree in Advanced Gaming Technologies, where I've refined my skills and knowledge in the exciting world of game development.</p>
        </div>
        <div class="box">
            <p>If you'd like to learn more about my professional background, feel free to check out my <a href="https://drive.google.com/file/d/1UHFMJDOrRB0EvzoZ7hh9SQG1THaSL55N/view?usp=sharing" style="color: aqua;">Resume</a>.</p>
        </div>
    </div>

    <%- include('partials/footer') %>
</body>
</html>
