<!-- Vishwajitsinh Mahida: 301312106-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>

    <div class="header-logo">
        <img src='victory-social-media-icon.jpg' alt="">
    </div>
    <link rel="shortcut icon" href="/public/Images/home.png" type="image/x-icon">
</head>
<body>
  
    <%- include('partials/header') %>

    <!-- Main content for the Home Page -->
    
    <section class="home">
       <h1>Welcome to My Portfolio</h1>
      
        <p>Explore my work and learn more about me.</p>


        <h3 class="welcome-section">
            <strong>Welcome to My World of Gaming!</strong>
            <div class="box-main">
                <div class="box">
                    <p>Hi there! I'm Vishwajitsinh Mahida, and I like to think of myself as an explorer and tinkerer in the world of technology. I have a unique ability for critical thinking, which I believe is the key to finding creative solutions to complex problems. I'm a firm believer in the power of smart work over hard work, and I'm always on the lookout for innovative ways to achieve my goals.</p>
                </div>
    
                <div class="box">
                    <p>One thing I'm immensely grateful for is the opportunity to be a part of this world where endless possibilities exist.</p>
                </div>
    
                <div class="box">
                    <p>My educational background includes a degree in Advanced Gaming Technologies, where I've refined my skills and knowledge in the exciting world of game development.</p>
                </div>
    
                <div class="box">
                    <p>If you'd like to learn more about my professional background, feel free to check out my <a href="https://drive.google.com/file/d/1sBt_uNDblDJjxLI0Q3DAQQAPXeCLyT0q/view?usp=sharing" style="color: azure;">Resume</a>.</p>
                </div>
            </div>
        </h3>
        <a href="/about" style="color: azure;">Learn More</a>
    </section>

    
    <%- include('partials/footer') %>
</body>
</html>
